body{
    background-color: #fff;
}


#app{
    text-align: center;
    display: block;
    border:1px solid #ccc;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    width:600px;
    margin:0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.save-changes{
    background-color: #fff;
    border:1px solid #ccc;
    border-radius:5px;
    padding:2px 7px;
    margin:0 0 20px 0;
    width:auto;
    cursor:pointer;
}
.save-changes:not([disabled]){
    color:#000;
    border-color:#000;
    /* background: rgb(241, 178, 59); */
}
.save-changes:not([disabled]):hover{
    background-color: lightgoldenrodyellow;
    /* color:ivory; */
}

.inputs{
    /* border-color:ghostwhite; */
    outline:none;
    border:1px solid #000;
    display: block;
    margin:5px auto;
    width:150px;
    height:20px;
    
}

.hidden{
    visibility: hidden !important;
}


fieldset{
    border:1px solid;
    width:200px; 
    margin:0 auto;
    border-color:cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

legend{
    /* text-align:left;
    margin-left:40px; */
    font-size: 1.0em;
    font-family: inherit
}


fieldset input, fieldset button, button{
    font-family: inherit;
}


.avatar, .info, .contacts, .user{
    margin-bottom:20px;
}

.required{
    /* content: "✓"; */
    color: orange;
    margin-left: 1em; 
    padding: .1em;
    background-color: transparent;
    font-size: 1.2em;
    /* border: .1em solid orange; */
    position:absolute;
    top:-4px;
    right:-4px;
    
  }

 label{
    position:relative;
    width:150px;
    height:20px;
    display: block;
    margin:22px auto;
    /* border:1px solid red; */
    font-size:small;
    text-align:left;
    color:cadetblue;
    font-weight: 600;
  }

  label input[disabled]::placeholder{
    color:#c1c1c1;
    
  }

  label input[disabled]{
      border-color:#c1c1c1;
  }


/* label.oldpass:before{
    content:'старый пароль';
}
label.newpass:before{
    content:'новый пароль';
}
label.repeatpass:before{
    content:'повторить пароль';
} */
